<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container"><h1>Editar ingreso</h1></div>

        <!--Formulario para eliminar médico-->
        <div class="text-right mr-4">
                <form th:action="@{/ingresos/eliminar/{id}(id=${ingreso.idNumeroIngreso})}" method="post">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="btn btn-danger" onclick="location.href='/ingresos/listado-ingresos'">Eliminar médico</button>
                </form> 
        </div>
        <!--Formulario para editar médico-->
        <form th:action="@{/ingresos/actualizar/{id}(id=${ingreso.idNumeroIngreso})}" th:object="${ingreso}" method="post">
            <div class="row ml-2 mr-2">
                <!--ID (oculto)-->
                <input type="hidden" th:value="${ingreso.idNumeroIngreso}" name="idNumeroIngreso" readonly/>
                <!--DNI (oculto)-->
                <input type="text" th:value="${ingreso.usuarDni}" name="usuarDni" readonly/>
                <!--Num Colegiado (oculto)-->
                <input type="number" th:value="${ingreso.medicNumeroColegiado}" name="medicNumeroColegiado" readonly/>
                <!--Fecha ingreso-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="fechaIngreso">Fecha ingreso:</label>
                    <input type="date" class="form-control" th:field="*{fechaIngreso}" id="fechaIngreso" name="fechaIngreso" readonly/>
                </div>
                <!--Fecha alta-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="fechaAlta">Fecha alta:</label>
                    <input type="date" class="form-control" th:field="*{fechaAlta}" id="fechaAlta" name="fechaAlta" requiered/>
                </div>
                <!--Número planta-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="numeroPlanta">Número planta:*</label>
                    <input type="number" class="form-control" th:field="*{numeroPlanta}" id="numeroPlanta" name="numeroPlanta" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" required />
                </div>
                <!--Número habitación-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="numeroHabitacion">Número habitación:*</label>
                    <input type="number" class="form-control" th:field="*{numeroHabitacion}" id="numeroHabitacion" name="numeroHabitacion" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" required />
                </div>
                <!--Número cama-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="numeroCama">Número cama:*</label>
                    <input type="number" class="form-control" th:field="*{numeroCama}" id="numeroCama" name="numeroCama" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2" required />
                </div>
                <!--Alergias-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="alergias">Alergias:</label>
                    <input type="text" class="form-control" th:field="*{alergias}" id="alergias" name="alergias" />
                </div>
                <!--Observaciones-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="observaciones">Observaciones:</label>
                    <input type="text" class="form-control" th:field="*{observaciones}" id="observaciones" name="observaciones" />
                </div>
                <!--Coste-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="coste">Coste:</label>
                    <input type="number" class="form-control" th:field="*{coste}" id="coste" name="coste" step="0.01" pattern="\d+(\.\d{1,2})?" />
                </div>                
                <!--Diagnóstico-->
                <div class="col-md-6 col-lg-4 mb-3">
                    <label for="diagnostico">Diagnóstico:</label>
                    <input type="text" class="form-control" th:field="*{diagnostico}" id="diagnostico" name="diagnostico" />
                </div>
            </div>
            <div class="text-center"><br/>
                <button type="submit" class="btn btn-primary">Aplicar</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='/ingresos/listado-ingresos'">Cancelar</button>
            </div>
        </form>
    </body>
</html>