<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header">
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <div class="container"><h1>Añadir Médico</h1></div><br/>
    
        <form th:action="@{/medicos/crear}" th:object="${medico}" method="post">
            <div class="row ml-2 mr-2">
                <!-- Código Identificación de usuario -->
                <div class="col-md-6 mb-3">
                    <label for="usuarCodigoIdentificacion">Usuario:</label>
                    <select class="form-control" id="usuarCodigoIdentificacion" name="usuarCodigoIdentificacion">
                        <option th:each="usuario : ${usuarios}" th:value="${usuario.usuarCodigoIdentificacion.toString()}" th:text="${usuario.usuarApellidos + ', ' + usuario.usuarNombre + ' - ' + usuario.usuarDni}"
                        th:data-dni="${usuario.usuarDni}"></option>
                    </select>
                </div>
                <!--DNI (oculto)-->
                <input type="hidden" id="dniUsuario" name="dniUsuario">
                <!--Número Colegiado-->
                <div class="col-md-6 mb-3">
                    <label for="medicNumeroColegiado">Número de colegiado:*</label>
                    <input type="text" class="form-control" th:field="*{medicNumeroColegiado}" id="medicNumeroColegiado" name="medicNumeroColegiado" oninput="validarNumero(this);" maxlength="9" required />
                </div>
                <!--Especialidad-->
                <div class="col-md-6 mb-3">
                    <label for="medicEspecialidad">Especialidad:</label>
                    <input type="text" class="form-control" th:field="*{medicEspecialidad}" id="medicEspecialidad" name="medicEspecialidad"/>
                </div>
                <!--Cargo-->
                <div class="col-md-6 mb-3">
                    <label for="medicCargo">Cargo:</label>
                    <input type="text" class="form-control" th:field="*{medicCargo}" id="medicCargo" name="medicCargo"/>
                </div>
            </div>
            <div class="text-center"><br/>
                <button type="submit" class="btn btn-primary" id="botonGuardar" disabled>Añadir</button>
                <button type="button" class="btn btn-secondary" onclick="location.href='/medicos/listado-medicos'">Cancelar</button>
            </div>
        </form>
        <script>
            //Guardar el DNI desde el select
            const codigoIdentificacionSelect = document.getElementById('usuarCodigoIdentificacion');
            const dniInput = document.getElementById('usuarDni');

            codigoIdentificacionSelect.addEventListener('change', () => {
                const opcionSelec = codigoIdentificacionSelect.options[codigoIdentificacionSelect.selectedIndex];
                const dni = opcionSelec.getAttribute('data-dni');
                dniInput.value = dni;
            });


            // Controlador de eventos para medicNumeroColegiado
            document.getElementById('medicNumeroColegiado').addEventListener('input', enableSaveButton);

            // Validar que solo se ingresen números
            function validarNumero(input) {
                const re = /^[0-9]*$/;

                if (!re.test(input.value)) {
                    input.value = input.value.slice(0, -1);
                }

                enableSaveButton();
            }

            //Habilitar el botón de guardar
            function enableSaveButton() {
                const medicNumeroColegiado = document.getElementById("medicNumeroColegiado");
                const saveButton = document.getElementById("botonGuardar");

                if (medicNumeroColegiado.value.length === 9) {
                    saveButton.disabled = false;
                } else {
                saveButton.disabled = true;
                }
            }
        </script>
    </body>
</html>