<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head th:replace="fragments/header :: header">
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
      <h1>Listado de usuarios</h1>
      <a th:href="@{/usuarios/crear-usuario}" class="btn btn-primary">Añadir Usuario</a>
      <button type="button" class="btn btn-primary my-3" onclick="location.href='/inicio'">Volver a Inicio<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 18"><path fill-rule="evenodd" d="M8 3.293l5.5 5.5a.5.5 0 0 1-.707.707L8 4.707 2.707 10.5a.5.5 0 1 1-.707-.707L8 3.293z"/><path fill-rule="evenodd" d="M7.5 10.5V14h1v-3.5a.5.5 0 0 1 1 0V14h1v-3.5a2 2 0 0 0-2-2h-1a2 2 0 0 0-2 2V14h1v-3.5a.5.5 0 0 1 1 0z"/></svg></button>
    </div> 
    <!-- tabla de Usuarios-->
    <div class="row ml-2 mr-2">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-dark text-center">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>DNI</th>
              <th>Número Seguridad Social</th>
              <th>Género</th>
              <th>Fecha nacimiento</th>
              <th>Email</th>
              <th>Teléfono</th>
              <th>Domicilio</th>
              <th>Población</th>
              <th class="d-none d-md-table-cell">País</th>
              <th class="d-none d-md-table-cell">Código postal</th>
              <th>Consiente Datos</th>
              <th class="d-none d-md-table-cell">Fecha creación</th>
              <th class="d-none d-md-table-cell">Fecha modificación</th>         
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="usuarios : ${usuarios}">
              <td th:text="${usuarios.usuarCodigoIdentificacion}"></td>
              <td th:text="${usuarios.usuarNombre}"></td>
              <td th:text="${usuarios.usuarApellidos}"></td>
              <td th:text="${usuarios.usuarDni}"></td>
              <td th:text="${usuarios.usuarNumSS}"></td>
              <td th:text="${usuarios.usuarGenero}"></td>
              <td th:text="${usuarios.usuarFechaNacimiento}"></td>
              <td th:text="${usuarios.usuarEmail}"></td>
              <td th:text="${usuarios.usuarTelefono}"></td>
              <td th:text="${usuarios.usuarDomicilio}"></td>
              <td th:text="${usuarios.usuarPoblacion}"></td>
              <td class="d-none d-md-table-cell" th:text="${usuarios.usuarPais}"></td>
              <td class="d-none d-md-table-cell" th:text="${usuarios.usuarCodigoPostal}"></td>
              <td th:text="${usuarios.usuarConsentimientoDatos}"></td>
              <td class="d-none d-md-table-cell" th:text="${usuarios.usuarCreado}"></td>
              <td class="d-none d-md-table-cell" th:text="${usuarios.usuarModificado}"></td>

              <!--Editar-->
              <td>
                <a th:href="@{/usuarios/detalle/{id}(id=${usuarios.usuarCodigoIdentificacion})}" class="btn btn-primary">Editar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Iluminar letras navbar-->
    <script>
      // Obtener la URL actual
      var currentUrl = window.location.pathname;
    
      // Obtener todos los elementos de navegación
      var navItems = document.getElementsByClassName('nav-item');
    
      // Iterar sobre los elementos de navegación y agregar la clase "active" al elemento correspondiente a la página actual
      for (var i = 0; i < navItems.length; i++) {
          var navLink = navItems[i].querySelector('.nav-link');
          var href = navLink.getAttribute('href');
      
          // Comparar la URL actual con el atributo "href" del elemento de navegación
          if (currentUrl === href || currentUrl.includes(href)) {
              navItems[i].classList.add('active');
          }
      }
    </script>
  </body>
</html>